* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.content h1 {
  margin: 0;
}

.name{
  text-transform: uppercase;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  margin: .5rem;
  padding: 1rem;
  backdrop-filter: grayscale(100%);
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemon:hover .image{
  filter: none;
  transform: scale(1.05);
}

.image {
  width: 160px;
  width: 160px;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.3s all;
}



.pokemon .number {
  text-align: right;
  color: black;
  font-weight: bold;
  font-size: .800rem;
}


.pokemon .details .types {
  list-style: none;
}

.pokemon .details .types .type:first-of-type{
  filter: saturate(2);
}

.pokemon .details .types .type {
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0rem;
  border-radius: 1rem;
  font-size: 0.800rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pokemon .details .types .type img{
  width: 20px;
  filter: brightness(100);
}


.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.colour-normal {
  background-color: #A8A77A;
}

.colour-fire {
  background-color: #EE8130;
}

.colour-water {
  background-color: #6390F0;
}

.colour-electric {
  background-color: #F7D02C;
}

.colour-grass {
  background-color: #7AC74C;
}

.colour-ice {
  background-color: #96D9D6;
}

.colour-fighting {
  background-color: #C22E28;
}

.colour-poison {
  background-color: #A33EA1;
}

.colour-ground {
  background-color: #E2BF65;
}

.colour-flying {
  background-color: #A98FF3;
}

.colour-psychic {
  background-color: #F95587;
}

.colour-bug {
  background-color: #A6B91A;
}

.colour-rock {
  background-color: #B6A136;
}

.colour-ghost {
  background-color: #735797;
}

.colour-dragon {
  background-color: #6F35FC;
}

.colour-dark {
  background-color: #705746;
}

.colour-steel {
  background-color: #B7B7CE;
}

.colour-fairy {
  background-color: #D685AD;
}