* {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

a, a:visited{
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.page-title{
  width: 200px;
}

.content .head-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .head-page .search{
  width: 50%;
  display: flex;
  align-items: center;
}

.content .head-page input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.name{
  text-transform: uppercase;
}

.pokemons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}

.pokemon{
  display: flex;
  width: calc((100% / 3) - 15px);
  color: white;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.container-image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/assets/patterns/pokeball.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  transition: all .5s;
}

.pokemon:hover .image{
  filter: none;
  transform: scale(1.1);
}

/* .pokemon:hover .container-image {
  filter: none;
  transform: rotate(360deg);
} */

.image {
  width: 150px;
  height: 150px;
  filter: grayscale(1);
  transition: 0.3s all;
}


.pokemon .number {
  text-align: right;
  font-weight: bold;
  font-size: .800rem;
}


.pokemon .details .types {
  list-style: none;
}

.pokemon .details .types .type:first-of-type{
  filter: saturate(2);
}

.pokemon .details .types .type {
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0rem;
  border-radius: 1rem;
  font-size: 0.800rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pokemon .details .types .type img{
  width: 20px;
  filter: brightness(100);
}


.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-more{
  background-color: #396bba;
  color: #ffe031;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  border: none;
  padding: 10px;
}

@media screen and (max-width: 970px) {
  .pokemon {
    width: calc((100% / 2) - 10px );
  }
}

@media screen and (max-width: 768px) {
  .pokemon{
    width: 100%;
  }
  
}
