.colour-normal {
    background-color: #A8A77A;
}

.colour-fire {
    background-color: #EE8130;
}

.colour-water {
    background-color: #6390F0;
}

.colour-electric {
    background-color: #F7D02C;
}

.colour-grass {
    background-color: #7AC74C;
}

.colour-ice {
    background-color: #96D9D6;
}

.colour-fighting {
    background-color: #C22E28;
}

.colour-poison {
    background-color: #A33EA1;
}

.colour-ground {
    background-color: #E2BF65;
}

.colour-flying {
    background-color: #A98FF3;
}

.colour-psychic {
    background-color: #F95587;
}

.colour-bug {
    background-color: #A6B91A;
}

.colour-rock {
    background-color: #B6A136;
}

.colour-ghost {
    background-color: #735797;
}

.colour-dragon {
    background-color: #6F35FC;
}

.colour-dark {
    background-color: #705746;
}

.colour-steel {
    background-color: #B7B7CE;
}

.colour-fairy {
    background-color: #D685AD;
}